#welcome {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 71;

    .text {
        font-size: 16px;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 73;
        transform: translate(-50%, -50%)
    }

    img {
        width: 150px;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 73;
        opacity: 0;
        transition: .5s;
        filter: grayscale(0%);

        &.welcome {
            /*transform: translate(-50%, 100%)*/
            transform: translate(-50%, 0)
        }
    }

    &.loaded {
        img {
            opacity: 1
        }
    }

    .box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        position: relative;
        z-index: 72;
        height: 100%;
        width: 100%;

        span {
            flex: 1;
            max-height: 100vh;
            width: 200%;
            transform: rotate(-30deg) scale(1.5);
            background-color: #fff;
            transition: .5s;
        }

        .middle {
            transform: rotate(-30deg) scale(1.5);
        }

        .top {
            transform: rotate(-30deg) scale(3) translateY(-40%);
        }

        .bottom {
            transform: rotate(-30deg) scale(3) translateY(40%);
        }
    }

    &.end {
        visibility: hidden;

        img {
            display: none
        }

        .box {
            span {
                background-color: #646cff;
            }

            .middle {
                transform: rotate(-30deg) scale(1.5, 0);
            }

            .top {
                transform: rotate(-30deg) scale(3) translateY(-150%)
            }

            .bottom {
                transform: rotate(-30deg) scale(3) translateY(150%)
            }
        }
    }

}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*overflow: hidden;*/
    /*background-image: linear-gradient(90deg, #214dfd 0%, #2962FF 30%, #2962FF 60%, #214dfd 100%);*/
    background-color: white;

    > .container {
        padding: 0 12px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /*position: relative;*/

        .maskLogo {
            position: absolute;
            opacity: .05;
            /*transform: translateY(50px) scale(0.9);*/
            /*transform: scale(1.1) translateY(50px) translateX(-300px);*/
            /*height: 600px;*/
            pointer-events: none;
            /*top: 0;*/
            filter: grayscale(.8) invert(1) !important;
            /*width: 100vw;*/
            height: 160px;
            left: 50%;
            /*transform: translateX(-50%);*/
            object-fit: cover;
            /*min-width: 1200px;*/

            &.maskLogo2 {
                opacity: .1;
                height: 600px;
                left: 0;
            }
        }

        .searchBox {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #ccc;
            position: relative;
            padding: 6px;

            input {
                padding: 4px;
                background-color: transparent;
            }

            .button {
                color: #444fff;
                cursor: pointer;
                transition: .2s;

                &:hover {
                    filter: brightness(1.5);
                }
            }
        }
    }

    img.logo {
        height: 88px;
        filter: invert(0) !important;
        position: relative;
        pointer-events: none;
        user-select: none;
    }

    .tabBar {
        width: 100vw;
        min-width: 1200px;
        display: flex;
        justify-content: center;
        background-image: linear-gradient(90deg, #444fff 0%, #8521ff 100%);
        /*background-image: linear-gradient(90deg, #214dfd 0%, #2962FF 30%, #2962FF 60%, #214dfd 100%);*/

        color: white;

        .container {
            justify-content: space-between;
            display: flex;

            .link {
                display: block;
                flex: 1;
                text-align: center;
                position: relative;
                cursor: pointer;
                transition: .2s;

                a {
                    color: white;
                    padding: 20px 0;
                    display: block;
                }

                .menus {
                    position: absolute;
                    width: 100%;
                    background-color: #fff;
                    z-index: 3;
                    max-height: 0;
                    overflow: hidden;

                    a {
                        color: black;

                        &:hover {
                            background-color: rgba(100, 108, 255, 0.25);
                            color: #4635de;
                        }
                    }
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }
        }

    }
}

footer {
    background-color: #4635de;
    height: 300px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(19deg, #214dfd 0%, #8521ff 100%);
    position: relative;
    align-items: center;
    margin-top: 40px;

    &:after {
        background-color: #646CFF;
        clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 300px;
        width: 35vw;
        min-width: 300px;
        transform: translateX(100px);

        opacity: .5;
    }

    &:before {
        background-color: #646CFF;
        clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 300px;
        width: 35vw;
        min-width: 300px;
        z-index: 1;
    }

    .container {
        padding: 0 12px;
        position: relative;
        height: 100%;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .links {
        position: absolute;
        top: 0;
        height: 66px;
        background-color: #F2F3F9;
        width: 100%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: flex;
        align-items: center;
        padding: 0 12px;
        gap: 30px;
        z-index: 2;

        .label {
            font-size: 18px;
        }

        .link {
            color: #666;

            &:after {
                content: "↵";
            }

            &:hover {
                color: #4635de;
            }
        }
    }

    .info {
        display: flex;
        color: white;
        align-items: center;
        gap: 20px;

        .content {

        }

        #qrcode {
            display: flex;
            background: white;
            height: 100px;
            width: 120px;

            .qrcode {
                height: 100%;
                object-fit: cover;
            }

            .text {
                text-align: center;
                color: black;
                width: 16px;
                padding-right: 4px;
                word-wrap: break-word;
                line-height: 1.2;

                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
            }
        }
    }

    img.logo {
        height: 66px;
        /*filter: invert(1);*/
        filter: invert(1) !important;
        position: relative;
        pointer-events: none;
        user-select: none;
        z-index: 2;
    }

    .maskLogo {
        height: 160px;
        position: absolute;
        opacity: .05;
        pointer-events: none;
        filter: grayscale(.8) invert(1);
        right: 12px;
        object-fit: cover;
        /*min-width: 1200px;*/
    }
}

header, main, footer {
    .container {
        width: 1200px;
    }
}

.line1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
}

.line2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
}

.line3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
}

.line4 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 4;
}

.line5 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 5;
}

.animationBox {
    animation-duration: .5s;
    animation-fill-mode: both;
    transform: translateY(50px);
    opacity: 0;
}


.toUpShow {
    animation-name: toUpShow;
}

.toDownHide {
    animation-name: toDownHide;
}

.toRightShow {
    animation-name: toRightShow;
}

@keyframes toUpShow {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes toRightShow {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes toDownHide {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(50px);
        opacity: 0;
    }

}
