body {
    background-color: #f7f7f7;
}

main {
    .container {
        padding: 40px 0;
    }

    .header {
        width: 100%;
        overflow: hidden;

        &:hover img.background {
            scale: 1.025;
        }

        img.background {
            height: 400px;
            object-fit: cover;
            position: relative;
            transition: 1s;


        }

        > .mask {
            position: absolute;
            background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
            height: 166px;
            top: calc(400px - 166px);
            width: 100%;
        }
    }


    .titleArea {
        display: flex;
        color: white;
        position: absolute;
        top: calc(400px - 82px);
        /* height: 166px; */
        padding: 0 12px 40px;
        align-items: flex-end;
        gap: 20px;
        /* width: 1280px;*/

        .title {
            font-size: 34px;
            line-height: 1;
            height: 42px;
        }

        .breadcrumb {
            flex: 1;
            display: flex;
            align-items: flex-end;
            height: 42px;
            gap: 20px;

            .link {
                color: white;
                padding: 2px 6px;

                &:hover {
                    background-color: #4635de;
                }

                &:not(:last-child) {
                    &:after {
                        color: white;
                        position: absolute;
                        margin-left: 10px;
                        content: "/";
                        pointer-events: none;
                    }
                }


            }
        }

    }

    .side {
        width: 300px;
        flex-shrink: 0;

        .box {
            display: flex;
            flex-direction: column;
            background-color: #4635de;
            padding-top: 10px;

            .item {
                padding: 30px 12px;
                color: white;
                font-size: 20px;
                text-align: center;

                &.active {
                    background-color: #fff;
                    color: #4635de;
                    position: relative;

                    &:before {
                        height: 20px;
                        position: absolute;
                        content: "";
                        width: 10px;
                        left: 20px;
                        top: 50%;
                        transform: translateY(-50%);
                        background-color: #4635de;
                        clip-path: polygon(0% 0%, 0 0, 100% 50%, 0 100%, 0% 100%);
                    }
                }

                &:not(.active):hover {
                    background-color: #646CFF;
                    filter: brightness(1.025);
                }
            }

            .mask {
                height: 300px;
                position: relative;

                img {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    opacity: 0.1;
                }
            }
        }

    }

    .listArea {
        display: flex;


        .articleList {
            display: flex;
            flex-direction: column;
            gap: 60px;
            background-color: #fff;
            padding: 40px;

            > .item {
                display: flex;
                align-items: center;
                gap: 20px;
                position: relative;

                &:not(:last-child):after {
                    position: absolute;
                    content: "";
                    height: 1px;
                    /* width: 80%; */
                    /* left: 50%; */
                    /* transform: translateX(-50%); */
                    width: 100%;
                    bottom: -30px;
                    background-color: #eee;
                    pointer-events: none;
                }

                .date {
                    color: #4635de;
                    flex-shrink: 0;
                    text-align: center;
                    line-height: 1;

                    .day {
                        font-size: 32px;
                        margin-bottom: 10px;
                    }

                    .month {
                        font-size: 12px
                    }
                }

                .hr {
                    height: 56px;
                    rotate: -10deg;
                    flex-shrink: 0;
                    flex-grow: 1;
                    width: 1px;
                    background-color: #646CFF;
                }

                .content {
                    .description {
                        margin-top: 10px;
                        font-size: 14px;
                        color: #666;
                    }
                }
            }

            .pagination {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                .pageBox {
                    display: flex;
                }

                a {
                    min-width: 36px;
                    height: 36px;
                    line-height: 36px;
                    text-align: center;
                    transition: .2s background-color;

                    &:hover, &.active {
                        color: #fff;
                        background-color: #646CFF;
                    }
                }

                .left, .right {
                    padding: 0 8px;
                }

                .disabled {
                    color: #999;
                    cursor: not-allowed;

                    &:hover {
                        background-color: transparent;
                        color: #999;
                    }
                }
            }
        }
    }

    .articleArea {

        display: flex;

        .articleContent {
            display: flex;
            flex-direction: column;
            gap: 40px;
            background-color: #fff;
            padding: 40px;

            .title {
                font-size: 32px;
                text-align: center;
            }

            .infoBar {
                color: #999999;
                display: flex;
                align-items: center;
                gap: 20px;
                font-size: 14px;
                justify-content: center;
            }

            .HTML {
                font-size: 16px;

                img {
                    display: inline;
                    text-align: center;
                }
            }
        }

    }
}
